---
layout: page
title: Our Services
description: As your trusted service provider, we are committed to transform your home or workplace to what you've been dreaming of.
background: '/img/bg-services.jpg'
remodeling_items: ['Full Remodeling', 'Kitchen', 'Bathroom', 'Flooring', 'Tiling', 'Painting', 'Additions']
landscaping_items: ['Deck', 'Fence', 'Pavers', 'Lawn', 'Concrete Flooring']
roofing_items: ['Shingle Roofing', 'Metal Roofing', 'Tile Roofing', 'Slate Roofing', 'Flat Roofing', 'Wood Shake Roofing', 'Skylight Roofing', 'Low Slope Roofing']
other_items: ['Repair', 'Replacement', 'Installation', 'Demolition']
---

<div class="card mb-4">
    <img class="card-img-top" src="{{'/img/remodeling.jpg' | relative_url }}" alt="Remodeling image">
    <div class="card-body">
      <h5 class="card-title">Renovation and Remodeling</h5>
      <p class="card-text">Need to give a contemporary touch on your home or upgrade it to a more comfortable and stylished one? We are here to help.</p>
      <div class="row">
        {% for item in page.remodeling_items %}
        <div class="col-md-6"><span style="color: seagreen;"><i class="fas fa-check-circle"></i></span> {{ item }}</div>
        {% endfor %}
      </div>
      <p><a class="btn btn-primary" onclick="location.href='{{'/contact' | relative_url }}'">Contact Us</a></p>
    </div>
</div>
<div class="card mb-4">
    <img class="card-img-top" src="{{'/img/backyard.jpg' | relative_url }}" alt="Landscaping image">
    <div class="card-body">
      <h5 class="card-title">Landscaping</h5>
      <p class="card-text">Your front and back yard are special places for your beloved family: reading, barbeque, or kid's playground. Making a beautiful yard is always worth your consideration.</p>
      <div class="row">
        {% for item in page.landscaping_items %}
        <div class="col-md-6"><span style="color: seagreen;"><i class="fas fa-check-circle"></i></span> {{ item }}</div>
        {% endfor %}
      </div>
      <p><a class="btn btn-primary" onclick="location.href='{{'/contact' | relative_url }}'">Contact Us</a></p>
    </div>
</div>
<div class="card mb-4">
    <img class="card-img-top" src="{{'/img/roofing.jpg' | relative_url }}" alt="Roofing image">
    <div class="card-body">
      <h5 class="card-title">Residential Roofing</h5>
      <p class="card-text">Fixing or upkeeping your roof, just be prepared for the rainy days, especially in Seattle.</p>
      <div class="row">
        {% for item in page.roofing_items %}
        <div class="col-md-6"><span style="color: seagreen;"><i class="fas fa-check-circle"></i></span> {{ item }}</div>
        {% endfor %}
      </div>
      <p><a class="btn btn-primary" onclick="location.href='{{'/contact' | relative_url }}'">Contact Us</a></p>
    </div>
</div>
<div class="card mb-4">
    <img class="card-img-top" src="{{'/img/home-services.jpg' | relative_url }}" alt="Other home services image">
    <div class="card-body">
      <h5 class="card-title">Other Home Services</h5>
      <div class="row">
        {% for item in page.other_items %}
        <div class="col-md-6"><span style="color: seagreen;"><i class="fas fa-check-circle"></i></span> {{ item }}</div>
        {% endfor %}
      </div>
      <p><a class="btn btn-primary" onclick="location.href='{{'/contact' | relative_url }}'">Contact Us</a></p>
    </div>
</div>